
#head {
    text-align: center;
    font-size: 45px;
    padding: 20px;
    margin-top: 3px;
    font-family: cursive;
}


body{

    background: url('../images/Background-image.jpg');
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color:white;

}


#timeremaining, h2{

    padding-bottom: 15px;
    border-block-start-color: aliceblue;
    font-size: 30px;

}

.container{
    
    text-align: center;
}